<header>
    <ul class="header-navigation">
	<li class="header-navigation-item" *ngIf="(!isAuth)">
	    <a class="header-link"
	       routerLink="/comptes/new-compte"
	       routerLinkActive="active">Créer<br>un compte</a>
	</li>
	<li class="header-navigation-item" *ngIf="(!isAuth)">
	    <a class="header-link"
	       routerLink="/login"
	       routerLinkActive="active">Login</a>
	</li>
	<li class="header-navigation-item" *ngIf="(isAuth)">
	    <a class="header-link"
	       style="cursor: pointer"
	       (click)="onLogout()">Logout</a>
	</li>
	<li class="header-navigation-item" *ngIf="(isAuth)">
	    Vous &ecirc;tes<br>{{pseudo}}
	</li>
	<li class="header-navigation-item">
	    <button class="btn btn-danger" *ngIf="debug" (click)="onDebugSwitch()">Fin de Debug</button>
	    <button class="btn btn-success" *ngIf="!debug" (click)="onDebugSwitch()">Debug</button>

	</li>
	<li class="header-navigation-item">
	    <button class="btn btn-danger" *ngIf="trace" (click)="onTraceSwitch()">Fin de Trace</button>
	    <button class="btn btn-success" *ngIf="!trace" (click)="onTraceSwitch()">Trace</button>
	</li>
	<li class="header-navigation-item">
	    <button class="btn btn-primary" *ngIf="verbose" (click)="onVerboseSwitch()">Laconique</button>
	    <button class="btn btn-success" *ngIf="!verbose" (click)="onVerboseSwitch()">Verbeux</button>
	</li>
	
	<li class="header-navigation-item">
	    <button class="btn btn-primary"
		    (click)="onIrpProvider()">Irp<br>Provider</button>
	</li>
    </ul>

    <ul class="header-navigation nav-end">
	<li class="header-navigation-item font-italic">
	    <a class="header-link" style="cursor:pointer"
	       (click)="onBackToMainMenu()">Vers le menu principal</a>
	</li>
    </ul>
    
</header>

<div *ngIf="debug">Debug:Dans header.component.html isAuth = {{isAuth}}</div>


