.notation-grid {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notation-pane {
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 270px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px #333333;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
}

.notation-info {
  position: relative;
  margin: 5px;
  background-color: rgba(200, 200, 0, 0.2);
  color: black;
  word-wrap:break-word;
  li {
      font-size: 70%;
      color: #0000ff;	
  }   
  h3 {
    font-size: 120%;
  }
  h5 {
    color: #6eb5ff;
  }
}

.notation-titre {
  position: relative;
  margin: 5px;
  background-color: rgba(200, 200, 0, 0.2);
  color: black;
  word-wrap:break-word;
  h3 {
    font-size: 120%;
  }
}

.notation-contenu {
  position: relative;
  margin: 5px;
  background-color: rgba(200, 200, 200, 0.2);
  color: black;
  li {
      font-size: 70%;
      color: #0000ff;	
  }   
  h3 {
    font-size: 120%;
  }
  h5 {
    color: #6eb5ff;
  }
}

h2 {
  margin: 1% 0% 1% 0%;
  display: flex;
  align-items: center;
  background-color: #6eb5ff;
  color: white;
  padding: 0.2rem 8%;
}

