.sum-notation-pane {
  position: relative;
  width: 60%;
  margin: auto;
}

img {
  position: relative;
  width: 100%;
}

.sum-notation-info {
  width: 100%;
}

.sum-notation-noteMoyenne {
  color: #6eb5ff;
}
