<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans sum-notation.component.html</div>
<div *ngIf="!loading">
    <div class="sum-notation-pane">

	<div class="sum-notation-info">
	    <p>Titre : {{ texteTitre }}</p>	
	    <p>nombre de participants : {{ participantCount }} </p>
	    <p>noteMoyenne : {{ average }} &#177; {{ rms }}</p>
	    
	    <button class="btn btn-danger m-1" (click)="onDelete()">Supprimer</button>
	</div>
	<button class="btn btn-link"
		(click)="onGoToNotationList()"><< Retour à la liste des Notations</button>
	<br>
	<button class="btn btn-link"
		(click)="onGoToTexteList()"><< Retour à la liste des Textes</button>
    </div>
</div>
