<app-header></app-header>
    <mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="irpProviderForm">
	<div class="form-group">
	    <label for="objectName">ObjectName</label>
	    <input type="text"
		   placeholder="Entrer un objectName ..."
		   id="objectName"
		   formControlName="objectName" 
		   class="form-control">
	</div>
	<button class="btn btn-primary"
		       (click)="onSubmit()"
		       [disabled]="irpProviderForm.invalid">Submit</button>
	<p class="alert-danger"
	   *ngIf="errorMessage">Dans new-notation.component.html.<br>Erreur lors de la création de la notation:<br> {{ errorMessage }}</p>
    </form>
</div>
