.single-compte-pane {
  position: relative;
  width: 60%;
  margin: auto;
}

img {
  position: relative;
  width: 100%;
}

.single-compte-info {
  width: 100%;
}

.single-compte-noteMoyenne {
  color: #6eb5ff;
}
