<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans single-compte.component.html</div>
<div *ngIf="!loading">
    <div class="single-compte-pane">

	<div class="single-compte-info">
	    <p>pseudo : {{ currentCompte.pseudo }}</p>
	    <p>email : {{ currentCompte.email }}<p>
	    <p>id du compte : {{ currentCompte._id }}</p>

	    <button class="btn btn-danger m-1" (click)="onDelete()"
	            [disabled]="!isAuth">Supprimer</button>
	</div>
	<button class="btn btn-link"
		(click)="onGoBack()"><< Retour à la liste des Comptes</button>
    </div>
</div>
