a {
    font-size: 70%;
    color: #ffffff;	
}   

li {
    font-size: 70%;
    color: #ffffff;	
}   

h2 {
  margin: 1% 0% 1% 0%;
  display: flex;
  align-items: center;
  background-color: #6eb5ff;
  color: white;
  padding: 0.2rem 8%;
}

h3 {
    font-size: 120%;
}

h5 {
    color: #6eb5ff;
}

